/* Sets the font and font colour for the whole document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

/* Sets the background colour for the body*/
body {
    background-color: #d9dcd6;
}

/* Adds background colour, font styling and spacing*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 20px;
}

/* Display is set and header font size is set */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the font colour for 'seo' */
.header h1 .seo {
    color: #cdcfcc;
}

/* Changes the header layout */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Adds the nav items styling and layout */
.header div ul {
    list-style-type: none;
  }

 /* Changes the layout and adds a margin*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
  }

/* Removes the bullet points and changes the font size*/
  a {
    text-decoration: none;
    font-size: 20px;
}


/* Changes the font size for the paragraphs */
p {
    font-size: 16px;
}

/* Adds a hero image as a cover image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Moves the image to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}


/* Moves the image to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets the content display*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Adds a background colour and sets position to not float on the left and right side of an element*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}


/* Adds a margin to benefit lead content*/
.benefit-lead {
    margin-bottom: 32px;
}


/* Adds a margin to benefit brand content*/
.benefit-brand {
    margin-bottom: 32px;
}

/* Adds a margin to benefit cost content*/
.benefit-cost {
    margin-bottom: 32px;
}

/* Adds a margin to benefit lead, content and cost heading and aligns it*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Adds a margin to benefit lead, brand and cost images, sets a max width and aligns it*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets a margin, padding, height and background colour*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}


/* Sets a max height for the search engine optimisation image*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* Sets a font size for the search engine optimization heading*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets a font size for the search engine optimization paragraph*/
.search-engine-optimization p,
.online-reputation-management p,
.social-media-marketing p {
    margin-bottom: 20px;
    font-size: 18px;
}

/* Sets a font size & colour, aligns the text, adds pading*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #000000;
}

/* Sets a font size & colour for the heading*/
.footer h2 {
    font-size: 20px;
    color: #000000;
}

/* Sets a font colour for the heading*/
.footer p {
    color: #000000;
}